:root {
  --text-error: #F25454;
  --surface-alert-error: radial-gradient(119.19% 93.93% at 1.51% 0%, rgba(245, 123, 123, 0.08) 0%, rgba(245, 123, 123, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), #120F15;
  --surface-alert-error-stroke: rgba(142, 56, 59, 0.50);
  --text-warning: #E4BC62;
  --surface-alert-warning: radial-gradient(119.19% 93.93% at 1.51% 0%, rgba(254, 140, 0, 0.08) 0%, rgba(254, 140, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), #120F15;
  --surface-alert-warning-stroke: rgba(254, 140, 0, 0.10);
  --text-success: #8ED434;
  --text-info: #59CDFF;
  --surface-alert-success: radial-gradient(119.19% 93.93% at 1.51% 0%, rgba(142, 212, 52, 0.08) 0%, rgba(142, 212, 52, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), #120F15;
  --surface-alert-success-stroke: rgba(142, 212, 52, 0.10);
  --background-color: #0d040c;
  --color: #F6F6F7;
  --error-color: #F25454;
  --warn-color: #E4BC62;
  --flex-gap-larger: 40px;
  --flex-gap-big: 24px;
  --flex-gap-small: 8px;
  --flex-gap-tiny: 4px;
  --flex-gap-middle: 16px;
  --container-bg-color: #191013;
  --container-border-color: #2a2123;
  --actived-background-color: #1f1312;
  --actived-border-color: #302421;
  --button-primary-text: #06020B;
  --button-primary-stroke: #faac34;
  --button-primary-fill: linear-gradient(270deg, #FFA600 0%, #FF9407 23.42%, #FF7D11 53.74%, #FF6A19 79.79%, #FF5B1F 99.77%);
  --button-primary-fill-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.17) 100%), linear-gradient(267deg, #FFA600 0%, #FF9407 23.42%, #FF7D11 53.74%, #FF6A19 79.79%, #FF5B1F 99.77%);
  --button-primary-fill-pressed: linear-gradient(0deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.13) 100%), linear-gradient(267deg, #FFA600 0%, #FF9407 23.42%, #FF7D11 53.74%, #FF6A19 79.79%, #FF5B1F 99.77%), linear-gradient(267deg, #FE8C00 0%, #F83600 99.77%);
  --surface-text-input-stroke: rgba(255, 255, 255, 0.05);
  --surface-card: radial-gradient(206.57% 72.46% at 14.41% 0%, rgba(248, 54, 0, 0.03) 0%, rgba(248, 54, 0, 0.00) 100%), radial-gradient(206.57% 72.46% at 14.41% 0%, rgba(254, 140, 0, 0.02) 0%, rgba(248, 54, 0, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(18, 15, 21, 0.70);
  --surface-card-horizontal: radial-gradient(234.33% 62.47% at 0.77% 0%, rgba(248, 54, 0, 0.03) 0%, rgba(248, 54, 0, 0.00) 100%), radial-gradient(207.57% 24.94% at 23.99% 54.98%, rgba(254, 140, 0, 0.02) 0%, rgba(248, 54, 0, 0.00) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(18, 15, 21, 0.70);
  --surface-card-stroke: #201c21;
  --surface-text-input: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.02) 100%), #06020B;
  --button-secondary-stroke: #291d1d;
  --button-secondary-fill: #1a100e;
  --button-secondary-text: #FF9407;
  --text-secondary: #A3A2AC;
  --badge-id-background-color: #0d121b;
  --badge-id-color: #59CDFF;
  --surface-summary-stroke: #333138;
  --surface-summary: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.00) 100%), #2A2730;
  --button-secondary-fill-hover: rgba(255, 147, 59, 0.26);
  --button-secondary-fill-pressed: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 67.67%), rgba(255, 147, 59, 0.26);
  --slider-background-stroke: #1e1e1f;
  --slider-background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.02) 100%), #06020B;
  --slider-knob: #2A2730;
  --slider-knob-stroke: #1e1e1f;
}

@font-face {
  font-family: metropolis400;
  src: url("/fonts/Metropolis-Regular.ttf");
}

@font-face {
  font-family: metropolis700;
  src: url("/fonts/Metropolis-Bold.ttf");
}

body {
  font-family: metropolis400;
  background-color: var(--background-color);
  color: var(--color);
  font-size: 16px;
  background-image: url("/images/bg.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: var(--flex-gap-larger) 0;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:link,
  &:visited {
    color: unset;
  }
}

h1 {
  font-family: metropolis700;
  font-size: 3.5rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: metropolis700;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: metropolis700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: metropolis700;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.two-columns-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: var(--flex-gap-middle);
  height: fit-content;
}

.charts {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: var(--flex-gap-middle);
  height: fit-content;
  gap: 1rem;
  align-items: flex-start;
  width: calc(100% - 1rem);
}

.flex-row-align-left {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  gap: var(--flex-gap-small);
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  // gap: var(--flex-gap-larger);
}

.footer {
  position: absolute;
  bottom: -5rem;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: var(--flex-gap-middle);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.flex-column-align-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.flex-column-align-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.flex-column-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--flex-gap-larger);
  position: relative;
}

.sider {
  border: 1px solid var(--container-border-color);
  height: fit-content;
  padding: 32px 16px;
  border-radius: 16px;
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-small);
}

.sider .logo {
  width: 239px;
}

.division {
  border: 1px solid var(--button-primary-text);
  width: 100%;
  margin: var(--flex-gap-middle) 0;
}

.verticalDivision {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--surface-card-stroke);
  height: 100%;
}

.navLink {
  display: flex;
  flex-direction: row;
  gap: var(--flex-gap-small);
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  font-family: metropolis400;
  text-decoration: none;
  color: var(--color);
  opacity: 0.7;
  text-transform: capitalize;
  width: fit-content;

  .icon {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 16px;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
    font-family: metropolis700;
    background-color: var(--actived-background-color);
    border: 1px solid var(--actived-border-color);
    border-radius: 45px;
  }
}

.navLink-fullWidth {
  width: calc(100% - 2rem);
}

.dropdownMenu {
  display: flex;
  flex-direction: row;
  gap: var(--flex-gap-small);
  justify-content: flex-start;
  align-items: center;
  font-family: metropolis400;
  color: var(--color);
  text-transform: capitalize;
  cursor: pointer;

  .icon {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: 22px;
    background-color: var(--actived-background-color);
    border: 1px solid var(--actived-border-color);
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  .arrow {
    width: 20px;
  }
}

.dropdownMenuOptions {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-small);
  justify-content: flex-start;
  align-items: flex-start;
  font-family: metropolis400;
  color: var(--color);
  text-transform: capitalize;
  cursor: pointer;
  padding: var(--flex-gap-small);
  border: 1px solid var(--container-border-color);
  background-color: var(--container-bg-color);
  border-radius: var(--flex-gap-middle);
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  margin-top: var(--flex-gap-small);
  box-shadow: 19px 24px 72px 0px #05020766;
  z-index: 10;

  .option {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap-small);
    padding: var(--flex-gap-middle);
    justify-content: flex-start;
    align-items: center;
    opacity: 0.7;
    white-space: nowrap;
    width: calc(100% - 2rem);

    img {
      width: 23px;
      height: 100%;
    }

    &.active {
      opacity: 1;
      font-family: metropolis700;
      background-color: var(--actived-background-color);
      border: 1px solid var(--actived-border-color);
      border-radius: 45px;
    }
  }
}

.topBar {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logoOnTopBar {
    display: none;
  }
}

.selectionTrigger {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  gap: var(--flex-gap-small);
  padding: 6px 12px;
  border-radius: 999px;
  border: 1px solid var(--button-secondary-stroke);
  background: var(--button-secondary-fill);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px -3px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  cursor: pointer;

  img {
    width: 20px;
  }
}

.textButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--flex-gap-small);
  border: none;
  border-bottom: 1px dotted var(--button-secondary-text);
  color: var(--button-secondary-text);
  font-family: Metropolis700;
  background: transparent;
  outline: none;
  padding: var(--flex-gap-small) 0;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1rem;

  img {
    width: 16px;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.smallTextButton {
  font-family: Metropolis400;
  font-size: 0.875rem;
}

.inLineTextButton {
  padding: 0;
  margin: 0;
  border-bottom: none;

  img {
    width: 0.75rem;
  }
}

.primaryButton {
  outline: none;
  color: var(--button-primary-text);
  font-family: Metropolis700;
  font-style: normal;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid var(--button-primary-stroke);
  background: var(--button-primary-fill);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px -3px rgba(0, 0, 0, 0.05);
  max-height: 47px;

  img {
    width: 20px;
  }

  &:hover {
    background: var(--button-primary-fill-hover);
  }

  &:active {
    background: var(--button-primary-fill-pressed);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.propertyText {
  font-family: Metropolis400;
  color: var(--text-secondary);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  // right: 0;
  // bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;

  .modal {
    width: fit-content;
    height: fit-content;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid var(--surface-card);
    background: var(--surface-card-horizontal);
    backdrop-filter: blur(7px);
    gap: var(--flex-gap-big);
    display: flex;
    flex-direction: column;
    margin-top: 0;

    .titleBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: var(--flex-gap-larger);
    }
  }

  .txDoneModal {
    width: fit-content;
    max-width: 30rem;
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid var(--surface-card-stroke);
    background: var(--surface-card);
    box-shadow: 19px 24px 72px 0px rgba(5, 2, 7, 0.40);
    backdrop-filter: blur(7px);

    .illustration {
      height: 120px;
    }
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--flex-gap-larger);
  width: 865px;

  .titleBox {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-middle);

    .viewIcon {
      width: 28px;
    }
  }
}

.tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: var(--flex-gap-larger);
  border: 1px solid var(--button-secondary-stroke);
  background: var(--button-secondary-fill);
  padding: var(--flex-gap-small);
  justify-content: space-between;

  .tabItem {
    flex: 1 1;

    input {
      display: none;

      &:checked+label {
        border: 1px solid var(--button-primary-stroke);
        background: var(--button-primary-fill);
        color: var(--button-primary-text);
      }
    }

    label {
      flex: 1 1;
      border-radius: var(--flex-gap-larger);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: var(--flex-gap-small) var(--flex-gap-big);
      font-family: Metropolis700;
      color: var(--button-secondary-text);
      border: 1px solid transparent;
      cursor: pointer;
      width: auto;
      gap: var(--flex-gap-small);

      img {
        height: 22px;
      }

      &:hover {
        border: 1px solid var(--button-secondary-stroke);
        background: var(--button-secondary-fill);
      }
    }
  }

  .disabled {
    // pointer-events: none;
    opacity: 0.5;
    filter: grayscale(1);

    .label {
      cursor: not-allowed;
    }
  }
}

.description {
  color: var(--text-secondary);
  font-family: Metropolis400;
}

.comments {
  color: var(--text-secondary);
  font-family: Metropolis400;
  font-size: 0.75rem;
}

.marketView {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--flex-gap-larger);
  width: 100%;
}

.card {
  flex: 1 1;
  width: calc(100% - var(--flex-gap-middle) * 2);
  display: flex;
  padding: var(--flex-gap-big);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--flex-gap-middle);
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--surface-card-stroke);
  background: var(--surface-card);
  max-width: 400px;

  .illustration {
    width: 247px;
  }
}

.bigBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  gap: var(--flex-gap-big);
  align-self: auto;
}

.referralBox {
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}

.urlLabel {
  flex-direction: row;
  padding: 1rem;
  width: calc(100% - 3rem);
  justify-content: space-between;
}

.badge {
  padding: var(--flex-gap-tiny) var(--flex-gap-small);
  border-radius: 50px;
  font-size: 0.875rem;
  font-family: Metropolis400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--flex-gap-tiny);
  width: fit-content;
  text-transform: capitalize;

  img {
    width: 11px;
  }
}

.iconButton {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
  border: 1px solid var(--button-secondary-stroke);
  background: var(--button-secondary-fill);

  &:hover {
    background: var(--button-secondary-fill-hover);
  }

  &:active {
    background: var(--button-secondary-fill-pressed);
  }

  img {
    width: 18px;
  }
}

.subCard {
  display: flex;
  height: fit-content;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* flex: 1 0 0; */
  border-radius: 12px;
  border: 1px solid var(--surface-summary-stroke);
  background: var(--surface-summary);
  gap: 1rem;
}

.label {
  color: var(--text-secondary);
  font-size: 0.875rem;
  // white-space: nowrap;
  // text-transform: capitalize;
}

.labelSmall {
  font-size: 0.75rem;
}

.labelBig {
  font-size: 1rem;
  font-family: Metropolis700;
}

.fat {
  font-family: Metropolis700;
  color: var(--color);
}

.chainNameLabel {
  text-overflow: ellipsis;
  max-width: 6rem;
  overflow: hidden;
  white-space: nowrap;
}

.chartContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.secondaryButton {
  cursor: pointer;
  width: fit-content;
  min-width: 10rem;
  display: flex;
  padding: 18px 24px;
  gap: 8px;
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--button-secondary-stroke);
  background: var(--button-secondary-fill);
  color: var(--button-secondary-text);
  font-family: Metropolis700;
  font-size: 1rem;
  text-transform: capitalize;
  max-height: 47px;
  white-space: nowrap;
  backdrop-filter: blur(4px);

  img {
    width: 20px;
  }

  &:hover {
    border: 1px solid var(--button-secondary-stroke);
    background: var(--button-secondary-fill-hover);
  }

  &:active {
    border: 1px solid var(--button-secondary-stroke);
    background: var(--button-secondary-fill-pressed);
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid var(--button-secondary-stroke);
    opacity: 0.5;
    background: var(--button-secondary-fill);
  }
}

.bigButton {
  font-size: 1.25rem;
  max-height: 68px;

  img {
    width: 26px !important;
  }
}

.fullWidth {
  width: 100%;
}

.amountInputLayout {
  width: calc(100% - 2rem);
  // max-width: 300px;

  .amountInputBox {
    background-color: black;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    border: 1px solid var(--surface-text-input-stroke);
    background: var(--surface-text-input);
    box-shadow: 0px 1px 2px 0px #000 inset, 0px 10px 10px -3px #000 inset;

    .amountInput {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0;
      margin: 0;

      &[type=number] {
        appearance: textfield;
      }

      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
      }
    }
  }

  .errorText {
    color: var(--error-color);
  }

  .warnText {
    color: var(--warn-color);
  }
}

.collapsedView {
  border-radius: 12px;
  border: 1px solid var(--button-secondary-stroke);
  background: var(--button-secondary-fill);
}

.slider {
  width: 100%;
  margin-top: 0.5rem;

  input[type="range"] {
    width: 100%;
    height: 24px;
    border-radius: 99px;
    border: 1px solid var(--slider-background-stroke);
    background: var(--slider-background);
    box-shadow: 0px 1px 2px 0px #000 inset, 0px 10px 10px -3px #000 inset;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--slider-knob);
    border: 1px solid var(--slider-knob-stroke);
    box-shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
  }

  input[type="range"]::-moz-range-thumb {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--slider-knob);
    border: 1px solid var(--slider-knob-stroke);
    box-shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
  }

  input[type="range"]::-ms-thumb {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--slider-knob);
    border: 1px solid var(--slider-knob-stroke);
    box-shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
  }
}

.sliderValue {
  display: flex;
  width: fit-content;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--surface-text-input-stroke);
  background: var(--surface-text-input);
  box-shadow: 0px 1px 2px 0px #000 inset, 0px 10px 10px -3px #000 inset;
}

.txLabel {
  display: flex;
  padding: 18px 16px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--flex-gap-larger);
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--button-secondary-stroke);
  background: var(--button-secondary-fill);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px -3px rgba(0, 0, 0, 0.05);
}

.panel {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--surface-card-stroke);
  background: var(--surface-card);
  box-shadow: 19px 24px 72px 0px rgba(5, 2, 7, 0.40);
  backdrop-filter: blur(7px);
}

.table {
  display: flex;
  width: 100%;
  table-layout: auto;

  .tableBody {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--flex-gap-small);

    .tableRow {
      display: flex;
      padding: 16px 16px 12px 16px;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 16px;
      border: 1px solid var(--surface-card-stroke);
      background: var(--surface-card-horizontal);
      box-shadow: 19px 24px 72px 0px rgba(5, 2, 7, 0.40);
      backdrop-filter: blur(7px);
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      .tableCell {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--flex-gap-small)
      }
    }
  }
}

.depositModal {
  width: 752px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--flex-gap-larger);

  .subContainer {
    width: 50%;
  }
}

.withdrawModal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 415px;
  gap: "24px";
}

.mainMenu {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-small);
}

.mainMenuForMobile {
  display: none;
}

.paging {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  &[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 0;
  }
}

.transactionListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  // gap: var(--flex-gap-larger);
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: 1px solid #06020B;

  &:last-child {
    border-bottom: none;
  }

  .txValues {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
  }
}

.snackBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  max-width: 30rem;
  padding: 8px 16px 8px 8px;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 19px 24px 72px 0px rgba(4, 0, 8, 0.40);
  font-family: Metropolis400;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  img {
    width: 26px;
  }
}

.infoSnackBar {
  border: 1px solid var(--surface-alert-success-stroke);
  background: var(--surface-alert-success);
  color: var(--text-info);
}

.successSnackBar {
  border: 1px solid var(--surface-alert-success-stroke);
  background: var(--surface-alert-success);
  color: var(--text-success);
}

.warningSnackBar {
  border: 1px solid var(--surface-alert-warning-stroke);
  background: var(--surface-alert-warning);
  color: var(--text-warning);
}

.errorSnackBar {
  border: 1px solid var(--surface-alert-error-stroke);
  background: var(--surface-alert-error);
  color: var(--text-error);
}

@media (prefers-color-scheme: dark) {
  /*  */
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background-color: white;
    --color: darkslategray; */
  }
}

@media (max-width: 575.98px) {
  body {
    background-image: url("/images/bg-mobile.png");
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .app {
    flex-direction: column;
    width: 100vw;
    height: fit-content;
  }

  .sider {
    flex-direction: row;
    width: 100%;
    padding: 8px 0px;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    border-radius: 24px 24px 0px 0px;
    border-top: 1px solid var(--surface-card-stroke);
    border-right: 1px solid var(--surface-card-stroke);
    border-left: 1px solid var(--surface-card-stroke);
    background: var(--surface-card);
    box-shadow: 19px 24px 72px 0px rgba(5, 2, 7, 0.40);
    backdrop-filter: blur(7px);
    justify-content: space-around;

    .division {
      display: none;
    }
  }

  .sider .logo {
    display: none;
  }

  .mainMenu {
    display: flex;
    position: absolute;
    right: 1rem;
    bottom: 3.5rem;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(7px);
    gap: var(--flex-gap-middle);
    z-index: 1000000000;

    .navLink {
      display: flex;
      flex-direction: row;
      gap: var(--flex-gap-small);
      justify-content: flex-start;
      align-items: center;
      padding: 12px 16px;
      font-family: metropolis400;
      text-decoration: none;
      color: var(--color);
      opacity: 0.7;
      text-transform: capitalize;
      width: fit-content;
      font-size: 1rem;

      img {
        height: 16px;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        font-family: metropolis700;
        background-color: var(--actived-background-color);
        border: 1px solid var(--actived-border-color);
        border-radius: 45px;
      }
    }
  }

  .navLink {
    flex-direction: column;
    padding: 0;
    font-size: 0.625rem;
    width: fit-content;

    #externalLink {
      display: none;
    }

    &.active {
      background-color: none;
      border: none;
      border-radius: 0;
    }
  }

  .navLink-fullWidth {
    width: fit-content;
  }

  .mainMenuForMobile {
    display: flex;
  }

  .mainContainer {
    width: calc(100% - 2rem);
    padding: 1rem;
  }

  .tab {
    width: calc(100% - var(--flex-gap-small) * 2);
  }

  .marketView {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: none;
  }

  .card {
    width: calc(100% - var(--flex-gap-small) * 2);
    padding: var(--flex-gap-small);
  }

  .modalOverlay {
    // position: absolute;

    .modal {
      width: calc(100% - 6rem);
    }
  }

  .depositModal {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .subContainer {
      width: 100%;
    }
  }

  .withdrawModal {
    width: 100%;
  }

  .subCard {
    width: calc(100% - 2rem) !important;
  }

  .table {
    .tableBody {
      .tableRow {
        width: calc(100% - 2rem);
        flex-direction: column;
        gap: 0.75rem;
        align-items: flex-end;

        .tableCell {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .tableCell:last-child::before {
          content: " ";
        }
      }
    }
  }

  .transactionListItem {
    gap: 0;
    margin-bottom: 1rem;
    align-items: center;

    .txValues {
      font-size: smaller;
    }
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .referralBox {
    flex-direction: column;

    .flex-column-align-left {
      justify-content: center;
      align-items: center;
    }
  }

  .urlLabel {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .topBar {
    padding-left: 1rem;
    padding-right: 1rem;

    .logoOnTopBar {
      display: block;
    }
  }

  .chainNameLabel {
    max-width: 4rem;
  }
}